.blink_me {
    animation: blinker 5s linear infinite;

  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .text_color {
    /* font-size: 72px; */
    background: -webkit-linear-gradient(rgb(3, 182, 247), rgb(5, 90, 113));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .background{
	background: url('/static/img/contact.jpg');
}