{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}"/>
    <title>{% block title %} {% endblock title %}</title>

    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script src="https://cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Just-A-Thought</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% block homeactive %} {% endblock homeactive %}">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {% block aboutactive %} {% endblock aboutactive %}">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item {% block blogactive %} {% endblock blogactive %}">
            <a class="nav-link" href="/blog">Blog</a>
          </li>
          <li class="nav-item {% block contactactive %} {% endblock contactactive %}">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
          <!--
          <li class="nav-item {% block addPostactive %} {% endblock addPostactive %}">
            <a class="nav-link" href="/addPost">Add-Post</a>
          </li>-->
          
        </ul>
        <div class="ml-auto form-inline">
          <form method = "get" action = "/search" class=" my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search"  id="search">
            <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
          </form>
            {% if user.is_authenticated %}
            <ul class = "navbar-nav mr-3">
              <li class = "nav-item dropdown">
                <a class = "nav-link dropdown-toggle" href = "#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{request.user}}
              </a>
              <div class =" dropdown-menu" aria-labelledby = "navbarDropdown">
                <a class="dropdown-item" href = "/blog/userPost">Add your new post </a> 
                <!--<a class="dropdown-item" href = "/addPost">Add your new post </a> -->
                <a class ="dropdown-item" href="/updateProfile">Update your profile </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </li>
            </ul>
              
            {% else %}

            <button type="button" class="btn btn-outline-success mx-2" data-toggle="modal" data-target="#loginModal">
              Log In
            </button>

            <button type="button" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#signupModal">
              Sign Up
            </button>
            

            {% endif %}
        </div>
        
      </div>
  </nav>

{% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show" role="alert">
  <strong>Message : </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
  <!--signup modal-->
  <!-- Button trigger modal -->


<!--signup-Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">Sign Up Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!--<form action = '/signup' method = 'post'>-->
        <form action = '/signup' method = 'post' enctype='multipart/form-data'>
          <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" placeholder="First Name" name = "fname" required>
          </div>
          <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" placeholder="Last Name" name = "lname" required>
          </div>
          <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" placeholder="unique username" name = "username" required>
          </div>
          <div class="form-group">
            <label for="email">Email Id</label>
            <input type="email" class="form-control" id="email" placeholder="Email Id" name = "email" required>
          </div>
          
          <div class="form-group">
            <label for="mobile">Contact No</label>
            <input type="text" class="form-control" id="mobile" placeholder="Contact No" name = "mobile">
          </div>
          <div class="form-group">
            <label for="password1">Create Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Choose Password" name = "password1" required>
          </div>
          <div class="form-group">
            <label for="passowrd2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" placeholder="Confirm Password" name = "password2" required>
          </div>
          
          <div class="btn btn-mdb-color btn-rounded">
                <span>Choose file1</span>
                <input type="file" accept="image/*" name='image' id='image' title="image">
            </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary my-2">Submit</button>
          <!--<div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            
          </div> -->
        </form>
      </div>

      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</div>

<!--Login Modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">loign Here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form method = "post" action="/login">
          <div class="form-group">
            <label for="loginusername">User Name</label>
            <input type="text" class="form-control" id="loginusername" placeholder="Enter username" name = "loginusername" required>
          </div>
          
          <div class="form-group">
            <label for="loginpassword">Enter Password</label>
            <input type="password" class="form-control" id="loginpassword" placeholder="Enter Password" name = "loginpassword" required>
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-primary my-2">Submit</button>
          <!--<div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            
          </div> -->
        </form>
      </div>

      <div class="modal-footer">
        
        
      </div>
    </div>
  </div>
</div>


{% block body %}



{% endblock body %}
{% block js %}
{% endblock js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>